<div class="container-fluid p-0 m-0">
  <h1 class="mat-display-4 m-3 pt-3">TIC-TAC-TOE</h1>
  <h1 *ngIf="!winner" class="mat-display-1 m-2">Current player: {{ player }}</h1>
  <h1 *ngIf="winner" class="mat-display-1 m-2 winner">Player {{ winner }} won!</h1>
  <div class="d-flex justify-content-center m-3">
    <button *ngIf="winner" mat-raised-button color="accent" (click)="newGame()">
      Start a new game!
    </button>
  </div>

  <div class="d-flex justify-content-center m-0 p-0">
    <main>
      <app-square
        *ngFor="let val of squares; let i = index"
        [value]="val"
        (click)="makeMove(i)"
      >
      </app-square>
    </main>
  </div>
</div>
